[2018-10-30 11:30] p-lauer opened #2 "Spotpy necessary?"
In GitLab by @trettin1 on Jul 1, 2017, 19:25

We should discuss, wheter advantages of using spotpy are greater than implementing 2 optimization (SCE and the bees) algorithms directly and optional a sensitivtiy analysis. The support of spotpy compared to numpy is low. Changes in spotpy can lead to problems for assesment (plots, outputs). Consequently, we have to look also at spotpy especially after

[2018-10-30 11:30] p-lauer commented on #2
In GitLab by @lauer1 on Jul 13, 2017, 15:38

Hey!

I think it is pretty useful to build propti in a modular way, so we don't have to maintain the algorithm part in propti and can benefit from developments and progress others achieve in spotpy. As spotpy is build modular and generic, we can do both, just use it, but also get involved into testing, developing and improving. There is more benefit for

[2018-10-30 11:30] p-lauer commented on #2
In GitLab by @lauer1 on Aug 18, 2017, 11:46

closed

[2018-10-30 11:30] #2 closed

[2018-10-30 11:30] p-lauer opened #3 "p=n+1? works also p<n"
In GitLab by @trettin1 on Jul 4, 2017, 14:39

In the code of spotpy, file sceua.py, 167, you'll find the advice: "ngs: int number of complexes (sub-populations), take more then the number of analysed parameters." Increasing the number of complexes increase also computing time. It is not necessary to have more complexes as parameters. p=n works very well, also p=n-1. Maybe, someone finds the litera

[2018-10-30 11:30] p-lauer commented on #3
In GitLab by @vinayak1 on Nov 16, 2017, 14:46

Hi Corinna,

There's a little confusion about the notation.
Let's clear that first: p = number of complexes, n = number of parameters to be optimised (dimensions), and m = number of points in each complex.

We require m >= n+1. And we are free to choose p.

While I think it would also work for m=n, I have no doubt that it will not work for m < n (take

[2018-10-30 11:31] p-lauer commented on #3
In GitLab by @hehnen1 on Dec 18, 2017, 11:59

added ~275 label

[2018-10-30 11:31] p-lauer opened #4 "Parameters handling in input file"
In GitLab by @hehnen1 on Oct 21, 2017, 18:28

In example `tga_analysis_01` the optimisation parameters are defined as `ops`. When `mps0` is initialised, a few lines later, the same defintion is called which seems to be redundant.

[2018-10-30 11:31] p-lauer commented on #4
In GitLab by @hehnen1 on Nov 4, 2017, 15:28

Okay, I realised that we did it, because this is how we transfer the information of which parameters are to be optimised. The `ops` are read by `propty_prepare.py`, line 26.

Seems still to be redundant, maybe we could think of a way to define them once in the input file and have the transfer done automatically.

[2018-10-30 11:31] p-lauer commented on #4
In GitLab by @hehnen1 on Dec 17, 2017, 20:09

added ~276 label

[2018-10-30 11:31] p-lauer opened #5 "Inconclusive error message for propti_prepare, line 32"
In GitLab by @hehnen1 on Oct 31, 2017, 16:55

While trying to run a modified `input.py` file, starting from the tga example, an `IndexError` ocurred. However, the error message was not helpful, since it didn't provide the file name. Instead it showed `File"<String>"`, see below:
[code]

[2018-10-30 11:31] p-lauer commented on #5
In GitLab by @lauer1 on Nov 17, 2017, 16:06

Can you post your modified `input.py`?

[2018-10-30 11:31] p-lauer commented on #5
In GitLab by @hehnen1 on Nov 20, 2017, 11:20

Right now I don't want to post my input file since it is part of my ongoing work. Furthermore, the "modified input file" part seems to be misleading and I should not have written it. Please ignore the first sentence of the issue for the moment.
The issue is not related to the input file, but to the error message `File "<string>", line`. It shows the da

[2018-10-30 11:31] p-lauer commented on #5
In GitLab by @hehnen1 on Dec 18, 2017, 11:58

added ~275 label

[2018-10-30 11:31] p-lauer opened #6 "Revision of printed information for methods in `data_structures.py`"
In GitLab by @hehnen1 on Nov 1, 2017, 09:46

The provided information by the objects defined in`data_structures.py`, when requested via `print()`, needs to be revised. Some of the objects provide less information then they actually contain, e.g. `Parameter`. This makes tracking of errors for improperly set up input files difficult.

[2018-10-30 11:31] p-lauer commented on #6
In GitLab by @hehnen1 on Dec 18, 2017, 11:57

added ~275 label

[2018-10-30 11:31] p-lauer opened #7 "Dublicates of experimental data files"
In GitLab by @hehnen1 on Nov 1, 2017, 16:01

During the propti_prepare process, files are copied to the new directory. If the experimental data file is the same for multiple simulation setups, used for one inverse modelling run, `shutil.py` raises the `SameFileError`.

We should think about if we want to force the user to have multiple single files for experimental data or if we want to account fo

[2018-10-30 11:31] p-lauer commented on #7
In GitLab by @arnold1 on Nov 22, 2017, 18:00

assigned to @arnold1

[2018-10-30 11:31] p-lauer commented on #7
In GitLab by @hehnen1 on Dec 17, 2017, 20:05

added ~276 label

[2018-10-30 11:31] p-lauer opened #8 "Usage of the word 'set'"
In GitLab by @hehnen1 on Nov 2, 2017, 11:03

We should think of the usage of the word 'set', e.g. in `ParameterSet`. Reason being that in Python there is a data type called `sets`. This might lead to confusion, because this is an ['unordered collection of unique objects'](https://docs.python.org/2/library/sets.html). But our `sets` are actually `list`.

I think it might be a good idea to change to

[2018-10-30 11:31] p-lauer commented on #8
In GitLab by @hehnen1 on Nov 22, 2017, 18:15

ParameterSet is not a set nor a list (in the sense of Python), it is an object that behaves similar as a list. Should be noted in the Wiki.

[2018-10-30 11:31] p-lauer commented on #8
In GitLab by @hehnen1 on Nov 22, 2017, 18:15

assigned to @hehnen1

[2018-10-30 11:31] p-lauer commented on #8
In GitLab by @hehnen1 on Dec 17, 2017, 20:06

added ~275 label

[2018-10-30 11:31] p-lauer commented on #8
In GitLab by @vinayak1 on Jan 31, 2018, 13:24

closed

[2018-10-30 11:31] #8 closed

[2018-10-30 11:31] p-lauer opened #9 "Constructor calls in default argument during class initialisation"
In GitLab by @hehnen1 on Nov 3, 2017, 13:42

There seems to be an issue when calling a class constructor during an initialisation of another class (default parameters). It seems that Python might cache the information, thus when the top-level class is called, all the classes initialised during that classes `__init__` from default parameters are actually the same object.

This was discovered when t

[2018-10-30 11:31] p-lauer commented on #9
In GitLab by @vinayak1 on Nov 22, 2017, 22:20

assigned to @vinayak1

[2018-10-30 11:31] p-lauer commented on #9
In GitLab by @vinayak1 on Nov 23, 2017, 10:19

![Screen_Shot_2017-11-23_at_10.06.41](/uploads/8db6c3ee1b6c4db247e64faaec435874/Screen_Shot_2017-11-23_at_10.06.41.png)

So I was able to resolve this issue since it was more technical than anything to do with actual optimisation. Look at the image, the first run shows the wrong implementation and the second one is the correct one. The problem is that

[2018-10-30 11:31] p-lauer commented on #9
In GitLab by @vinayak1 on Nov 23, 2017, 12:51

closed

[2018-10-30 11:31] p-lauer commented on #9
In GitLab by @hehnen1 on Nov 23, 2017, 13:03

Given the screenshot, it looks correct now.

Have you checked `data_structures.py` only, or also the other scripts?

[2018-10-30 11:31] p-lauer commented on #9
In GitLab by @vinayak1 on Nov 23, 2017, 20:37

It will not cause a problem in any of the other example scripts since `SimulationSetupSet` is initialised as a default constructor only once in every `input.py` script. If there was someone who makes 2 object instances of `SimulationSetupSet` then the `ParameterSet` would share memory between two objects and that's what causes the problem. In any case

[2018-10-30 11:31] #9 closed

[2018-10-30 11:31] p-lauer opened #10 "Working directories"
In GitLab by @hehnen1 on Nov 4, 2017, 15:43

I think it might be a good idea to create another layer of working directories, based on the simulation setup set. Right now, when we want to run multiple simulation setups they all create their own working directories on the same level, e.g. where the `input.py` is located. However, it might be good to provide the setup set with a directory creation ta

[2018-10-30 11:31] p-lauer commented on #10
In GitLab by @hehnen1 on Dec 17, 2017, 19:57

added ~276 label

[2018-10-30 11:31] p-lauer opened #11 "Logfile rearrangement/restructure"
In GitLab by @hehnen1 on Nov 13, 2017, 10:52

Up to now each script (`propti_prepare`, `propti_run`) overwrites the log file. Maybe it would be a good idea if `propti_run` would append instead.
Furthermore, in general, it might be helpful to make it clearer which script (`propti_prepare` or `propti_run`) is actually logging information.

[2018-10-30 11:31] p-lauer commented on #11
In GitLab by @hehnen1 on Dec 17, 2017, 19:52

added ~276 label

[2018-10-30 11:31] p-lauer commented on #11
In GitLab by @vinayak1 on Jan 10, 2018, 15:36

 with regards to this issue, the onus will be on the user to check whether an old `propti.log` file is present or not. If we do write the code to append (w+) instead of write (w), it means that we may get a situation where a user runs `propti_prepare.py` script once and `propti_run.py` script twice. He must himself take care to see that no data is los

[2018-10-30 11:31] p-lauer opened #12 "OptimiserProperties output after propti_prepare execution finished"
In GitLab by @hehnen1 on Nov 15, 2017, 11:33

After `propti_prepare.py` is executed and finished the optimiser properties are shown. Its default is `None`, however should be changed to `len(para)` if `None`. This seems not to happen during the preparation process and should maybe be changed.

[2018-10-30 11:31] p-lauer commented on #12
In GitLab by @vinayak1 on Nov 20, 2017, 10:34

Hi @hehnen1,
 Do you mean that in case the number of complexes are not provided that the number of dimensions must be set as number of complexes?

[2018-10-30 12:14] p-lauer opened #13 "Tutorial for parallel computation"
In GitLab by @hehnen1 on Nov 20, 2017, 15:46

Write tutorial on how to use the options for parallel computation with propti. Mainly, passing the MPI usage information to SPOTPY (focus on SCEUA). Furthermore, explaination of the `num_subprocesses` parameter for `OptimiserProperties`.

[2018-10-30 12:14] p-lauer commented on #13
In GitLab by @hehnen1 on Nov 20, 2017, 15:47

changed the description

[2018-10-30 12:14] p-lauer commented on #13
In GitLab by @hehnen1 on Dec 17, 2017, 19:46

Is connected to #13.

[2018-10-30 12:14] p-lauer commented on #13
In GitLab by @hehnen1 on Dec 17, 2017, 19:46

added ~275 label

[2018-10-30 12:14] p-lauer opened #14 "Tutorial for multiple sets of target data"
In GitLab by @hehnen1 on Nov 20, 2017, 15:57

Write a tutorial on how to deal with multiple experimental data sets that are supposed to be used as target for the optimisation algorithm.

[2018-10-30 12:14] p-lauer commented on #14
In GitLab by @hehnen1 on Dec 17, 2017, 19:52

added ~275 label

[2018-10-30 12:14] p-lauer opened #15 "Wiki Update"
In GitLab by @vinayak1 on Nov 21, 2017, 11:44

Hi everyone,
 So I'm working on generalising how algorithms are imported into the `python_wrapper.py` so that it does not check only for sceua but also accepts other algorithms. However, the parameters for sampling function in each algorithm are different and thus requires to modify the wrapper in such a way that it checks for correct parameter input

[2018-10-30 12:14] p-lauer commented on #15
In GitLab by @hehnen1 on Dec 17, 2017, 19:51

added ~275 label

[2018-10-30 12:14] p-lauer commented on #15
In GitLab by @hehnen1 on Dec 18, 2017, 14:28

Even though this is not directly related, I thought I just put it here since it is a Wiki update.

@all I've restructured the Wiki into multiple pages, in an effort to have it more easily readable. Please check if this suits you like this.

Unfortunately, it has its own mind on how the different pages are to be ordered. I've tried to prepend numbers, h

[2018-10-30 12:14] p-lauer commented on #15
In GitLab by @vinayak1 on Dec 18, 2017, 21:47

@hehnen1  The idea of having multi-page looks great. Much better than before!

As for arranging the pages, it seems to be in the pipeline for GITLAB (<a href="https://gitlab.com/gitlab-org/gitlab-ce/issues/14995">link</a>) So as of now, the ordering of the pages in the sidebar will be alphabetical.

[2018-10-30 12:14] p-lauer commented on #15
In GitLab by @hehnen1 on Dec 20, 2017, 13:55

This is correct.

For some reason it wants to have the first letter of the first word capital, while everything esle is lower case. This is aesthetically annoying, because we could just prepend numbers, but than everything else would be lower case. As a "quick and dirty" solution it might work, however. Because otherwise we loose the structure, which I

[2018-10-30 12:14] p-lauer commented on #15
In GitLab by @lauer1 on Dec 21, 2017, 09:28

Plots in https://gitlab.version.fz-juelich.de/inverseproblemsinfiremodeling/propti/wikis/getting-started need to be updated.

[2018-10-30 12:14] p-lauer commented on #15
In GitLab by @lauer1 on Jun 5, 2018, 15:22

@hehnen1 wants to implement documentation of his updates

[2018-10-30 12:14] p-lauer commented on #15
In GitLab by @lauer1 on Jun 5, 2018, 15:22

assigned to @hehnen1

[2018-10-30 12:14] p-lauer opened #16 "Explain objects interaction in propti"
In GitLab by @hehnen1 on Nov 21, 2017, 13:51

A better explaination of the interaction between the different objects (`class`) in propti is needed. What is the concept behind them, what information should go where and how do they interact / share information with each other?

[2018-10-30 12:14] p-lauer commented on #16
In GitLab by @hehnen1 on Dec 17, 2017, 19:44

added ~275 label

[2018-10-30 12:14] p-lauer commented on #16
In GitLab by @hehnen1 on Jun 5, 2018, 16:07

assigned to @hehnen1

[2018-10-30 12:14] p-lauer opened #17 "Pre-Processing: Sensitivity Analysis"
In GitLab by @hehnen1 on Nov 22, 2017, 18:49

Based on the input file, perform sensitivity analysis on the input parameters. Aim is to reduce the amount of input parameters for the optimisation process. Furthermore, get an idea on what parameters have the largest influence on the result.

Possible methods could be ANOVA or FAST.

Create artificial TGA case to check if the used method is correct/us

[2018-10-30 12:14] p-lauer commented on #17
In GitLab by @hehnen1 on Nov 22, 2017, 18:49

assigned to @vinayak1

[2018-10-30 12:14] p-lauer commented on #17
In GitLab by @hehnen1 on Nov 23, 2017, 10:07

@vinayak1 There is already a script `propti_pre-processing.py` in the directory `propti`. Maybe you can expand on it.

[2018-10-30 12:14] p-lauer commented on #17
In GitLab by @vinayak1 on Nov 23, 2017, 10:28

@hehnen1 Thanks for the help !

[2018-10-30 12:14] p-lauer commented on #17
In GitLab by @vinayak1 on Nov 23, 2017, 11:32

Are we open to using SALib (http://salib.readthedocs.io/en/latest/#) ? It seems to provide a good functionality and Git seems to be functional. It provides a rather good set of Sensitivity Estimation Algorithms.

[2018-10-30 12:14] p-lauer commented on #17
In GitLab by @hehnen1 on Nov 23, 2017, 11:38

@vinayak1 I was thinking a little about this topic. Up to now the pre-processing script is only a collection of different functions/methods without  direct connection to the pickle files, like `propti_run.py`.

However, the sensitivity analysis we are envisioning would be connected to `pickle.init` since it is supposed to use information from there. Th

[2018-10-30 12:14] p-lauer commented on #17
In GitLab by @hehnen1 on Nov 23, 2017, 11:43

Well, I think if it provides us with good functionality then it is fine.

It should then be implemented in a similar way as the connection to SPOTPY, thus we could add connections to different packages as well.

Maybe the different functions should be prepended with the package's name, like "SALib_FAST". By this we could prevent mixup when multiple pac

[2018-10-30 12:14] p-lauer commented on #17
In GitLab by @vinayak1 on Nov 23, 2017, 12:45

Okay. I'll think about this a little more and come up with a UML diagram to represent what we can do. SALib seems to provide good functionality and its philosophies are similar to those provided by SPOTPY and it seems to be a good fit at the first look.

[2018-10-30 12:14] p-lauer commented on #17
In GitLab by @vinayak1 on Nov 29, 2017, 16:09

My idea about this is that we initially run the `propti_prepare.py` script and use the data from the pickle file as required for the sensitivity analysis.

Sensitivity data analysis requires only a range around which the analysis must be performed and as we already provide an input file with this data, we could use it directly.

I am currently researc

[2018-10-30 12:14] p-lauer commented on #17
In GitLab by @hehnen1 on Nov 29, 2017, 16:42

That seems to be a good plan!

In general, I would like to use the pickle file as the start (point 1 actually, point 0 would be the `input.py` of course...) for most, possibly all, the propti funcionality. In case one needs to provide more information for the sensitivity analysis, than already present in the `propti.pickle.init`, I would propose we cre

[2018-10-30 12:14] p-lauer commented on #17
In GitLab by @hehnen1 on Nov 29, 2017, 16:47

On a slightly different note: Would it maybe useful to have the possibility to just update `propti.pickle.init`, instead of perform an full `propti_prepare.py` run?

[2018-10-30 12:14] p-lauer commented on #17
In GitLab by @lauer1 on Nov 30, 2017, 11:09

http://fb09-pasig.umwelt.uni-giessen.de/spotpy/Tutorial/7-Advanced_hints/#fast-sensitivity-analysis

Aus [spotpy/spotpy/algorithms/fast.py](https://github.com/thouska/spotpy/blob/master/spotpy/algorithms/fast.py):

`:author: Tobias Houska and the SALib team`

`The presented code is based on SALib`

[2018-10-30 12:14] p-lauer commented on #17
In GitLab by @hehnen1 on Nov 30, 2017, 11:37

How about, three different options:
+ 1) optimisation without sensitivity analysis (current process)
+ 2) sensitivity analysis and stop (store sensitivity analysis data into a pickle file),
+ 3) automatically run sensitivity analysis and afterwards inverse modelling process (future implementation).

EDIT: Wording

[2018-10-30 12:14] p-lauer commented on #17
In GitLab by @hehnen1 on Nov 30, 2017, 15:10

In cases 2 and 3 (from above), propti should create a summary of the sensitivity analysis and store it in a file.

[2018-10-30 12:14] p-lauer commented on #17
In GitLab by @vinayak1 on Dec 7, 2017, 08:51

Hey there, this seems to be coming to a point where I need some good data for a test example.

I am almost done with writing the code and would like to know if anyone of you have some kind of FDS file/ `input.py` where you have varied only 2-3 parameters and have a good idea about sensitivity manually so that I can test my code. (I think @trettin1 had

[2018-10-30 12:14] p-lauer commented on #17
In GitLab by @vinayak1 on Dec 14, 2017, 21:55

Hey there, I've implemented the fast algorithm using Spotpy into a branch. I haven't merged it yet. Tried it today on tga_analysis_01 and it seems to give good results. You will find the plot below and a few other data.

The first py plot shows the comparison of various optimization parameters in the experiment with its nominal(average) value. The 'ra

[2018-10-30 12:14] p-lauer commented on #17
In GitLab by @hehnen1 on Dec 15, 2017, 09:23

It looks like a good start. I think it is a good idea to provide functionality with `propti`, to process the results of a sensitivity analysis. Maybe we could provide functionality to store the sensitivity results also in a CSV file, on the same level (directory) as we store the `propti_db.csv`. How about creating a new directory there for output. In t

[2018-10-30 12:14] p-lauer commented on #17
In GitLab by @hehnen1 on Dec 15, 2017, 09:23

Just to be sure, in figure 1 the different ranks are showing the influence of a specific parameter, why does rank 3 have two peaks?

[2018-10-30 12:14] p-lauer commented on #17
In GitLab by @vinayak1 on Dec 15, 2017, 10:00

The problem currently is that the sample function in FAST Algorithm implemented in SPOTPY doesn't return anything! It only prints output to the screen. I'm speaking to Thouska to try and get this implemented. If that happens then we could do the csv file implementation for sure.
Additionally, I asked him to implement a restart function in FAST and he

[2018-10-30 12:30] p-lauer opened #18 "Target handling for the optimisation algorithm"
In GitLab by @hehnen1 on Nov 22, 2017, 19:16

In cases where one has more then one repetition of an experiment, the question raises on how to treat all the experimental data as the target for the optimisation algorithm. How are the results to be processed to become a meanigful target. Would a mean value per time step be sufficient or rather a kind of bonus system within an area range that covers a

[2018-10-30 12:30] p-lauer commented on #18
In GitLab by @trettin1 on Nov 22, 2017, 19:17

[Fichte_Staub_5K_WHD2.txt](/uploads/a38974039ebf54f69891abe81c413712/Fichte_Staub_5K_WHD2.txt)

[Fichte_Staub_5K_WHD3.txt](/uploads/c8adb4f544bf7d015075dfeb6b42b54e/Fichte_Staub_5K_WHD3.txt)

[Fichte_Staub_5K_WHD5.txt](/uploads/db47276ef5b00f92920bab0e1e608ba0/Fichte_Staub_5K_WHD5.txt)[Fichte_Staub_5K.pdf](/uploads/93811e4501cd72d4bd71d008209b4403/Fic

[2018-10-30 12:30] p-lauer commented on #18
In GitLab by @hehnen1 on Dec 17, 2017, 19:35

added ~276 label

[2018-10-30 12:30] p-lauer opened #19 "Transfer items from Coggle"
In GitLab by @hehnen1 on Nov 22, 2017, 19:33

Transfer items from our Coggle mindmap (https://coggle.it/diagram/WVZVIu22CgABbeAn) into the issue tracker. Check also if items are still relevant.

[2018-10-30 12:30] p-lauer commented on #19
In GitLab by @hehnen1 on Nov 29, 2017, 11:49

I'm adding the GitLab issue number to the specific topics I add to the GitLab issue tracker, to maintain traceability.

[2018-10-30 12:30] p-lauer commented on #19
In GitLab by @hehnen1 on Dec 5, 2017, 11:16

Small update:

I've went over the items in the Coggle mindmap and transfered and/or commented the ones I deemed necessary. Please have a look if you all are okay with it, then I would close this issue.

[2018-10-30 12:30] p-lauer commented on #19
In GitLab by @vinayak1 on Dec 6, 2017, 11:15

I can't view it :(
![Screen_Shot_2017-12-06_at_11.14.32](/uploads/9a046197f3a097832476515b5be27746/Screen_Shot_2017-12-06_at_11.14.32.png)

[2018-10-30 12:30] p-lauer commented on #19
In GitLab by @hehnen1 on Dec 17, 2017, 19:31

I consider it closed.

If you disagree just let me know...

[2018-10-30 12:30] p-lauer commented on #19
In GitLab by @hehnen1 on Dec 17, 2017, 19:31

closed

[2018-10-30 12:30] #19 closed

[2018-10-30 12:30] p-lauer opened #20 "Pre-Processing: Stoichiometry for FDS"
In GitLab by @hehnen1 on Nov 23, 2017, 09:26

Write script that can calculate the stoichiometry for the combustion reactions in FDS and create FDS input lines.

[2018-10-30 12:30] p-lauer commented on #20
In GitLab by @lauer1 on Nov 23, 2017, 15:23

[https://pypi.python.org/pypi/chempy](https://pypi.python.org/pypi/chempy)?

[2018-10-30 12:30] p-lauer commented on #20
In GitLab by @hehnen1 on Nov 23, 2017, 15:56

Nice, I'll have a look at it later!

However, I have already a "working" script which is just slightly off, compared to whatever FDS does to check the stoichiometry. Thus, FDS refuses to start the simulation right from the start. Thing is apparently the values of the atomic weight implemented in FDS are not the ones I used. Also, from the two ways to c

[2018-10-30 12:30] p-lauer commented on #20
In GitLab by @hehnen1 on Dec 17, 2017, 19:34

added ~276 label

[2018-10-30 12:30] p-lauer opened #21 "Pre-Processing: Process MCC/TGA data"
In GitLab by @hehnen1 on Nov 23, 2017, 09:36

Processing of micro-scale material data comeing fom micro-combustion calorimetry MCC, thermogravimetric analysis TGA or similar. Experimental results are to be processed to create input for FDS, e.g. Arrhenius parameters.

How about some curve fitting?

[2018-10-30 12:30] p-lauer commented on #21
In GitLab by @hehnen1 on Dec 17, 2017, 19:34

added ~275 label

[2018-10-30 12:30] p-lauer opened #22 "Pre-Processing: Read Cone Calorimeter Data"
In GitLab by @hehnen1 on Nov 23, 2017, 09:48

Interface to read experimental results from Cone Calorimeter. Based on the pandas package and focused, at first, on the FTT CSV-file structure. Begin with the "reduced" output from FTT.

[2018-10-30 12:30] p-lauer commented on #22
In GitLab by @hehnen1 on Dec 17, 2017, 19:33

added ~275 label

[2018-10-30 12:30] p-lauer opened #23 "Store Commit Hashes in `pickle.init`"
In GitLab by @hehnen1 on Nov 23, 2017, 13:21

In terms of trying to facilitate reproducibility, specifically when writing papers or give presentations about work performed with Propti. Could we implement a function that stores hash of the commit of the specific version of propti in the `pickle.init` that was used to create it?

This information should also be callable so that it could be provided,

[2018-10-30 12:30] p-lauer commented on #23
In GitLab by @lauer1 on Nov 23, 2017, 15:19

Good idea!

We should also do this for the provided `model_executable`, e.g. save the name, version (and commit hash, when applicable) of the `model_executable`.

Is there a specific argument for FDS to just give back version and commit hash or do we have to call just `fds` and read this from the first few lines?

[2018-10-30 12:30] p-lauer commented on #23
In GitLab by @vinayak1 on Nov 25, 2017, 00:34

If we implement tags into our git repository, we will be able to call them from the python script using `git describe`.
With `git tag` we will have human readable format such as `version-number`. The python script can then query for this tag (version-number) using `git describe` and we can put this into our pickle file. The advantage of using this met

[2018-10-30 12:30] p-lauer commented on #23
In GitLab by @hehnen1 on Nov 27, 2017, 14:28

That seems to be a good way to go!
+1

[2018-10-30 12:30] p-lauer commented on #23
In GitLab by @vinayak1 on Nov 29, 2017, 15:54

Great, we must then discuss how we are going to tag versions and then in the coming weeks this can be implemented.

[2018-10-30 12:30] p-lauer commented on #23
In GitLab by @vinayak1 on Nov 30, 2017, 11:27

removed milestone

[2018-10-30 12:30] p-lauer commented on #23
In GitLab by @vinayak1 on Dec 1, 2017, 19:23

This seems to be the functionality that I would think is sufficient for version display. If anyone has any ideas or changes I'd be happy to consider them further. :)

![Screen_Shot_2017-12-01_at_19.21.59](/uploads/8328bb08cee97463aa0235ef3e238bee/Screen_Shot_2017-12-01_at_19.21.59.png)

[2018-10-30 12:30] p-lauer commented on #23
In GitLab by @vinayak1 on Dec 1, 2017, 19:24

assigned to @vinayak1

[2018-10-30 12:30] p-lauer commented on #23
In GitLab by @vinayak1 on Dec 4, 2017, 19:45

So I had the idea of making this a default implementation in propti. What I mean is that now, every plot will display propti and fds version besides the other usual things. If you guys think that this is a good idea then I will keep it that way.

** See screenshot.

EDIT: Since no version tagging is implemented, PROPTI-hash_number is displayed. If vers

[2018-10-30 12:30] p-lauer commented on #23
In GitLab by @hehnen1 on Dec 5, 2017, 10:34

That seems to be a good way.

Quick question: Is a template for plots already implemented or did you create a mock-up?

[2018-10-30 12:30] p-lauer commented on #23
In GitLab by @vinayak1 on Dec 5, 2017, 10:36

It is already implemented on a different branch. So still open to changes if needed :)

[2018-10-30 12:30] p-lauer commented on #23
In GitLab by @hehnen1 on Dec 5, 2017, 10:41

Uh, nice!

Right now I don't know if there is a need to change anything about it. Might come later when I play with it...

For now it looks very good! Thanks!

[2018-10-30 12:30] p-lauer commented on #23
In GitLab by @hehnen1 on Dec 5, 2017, 10:44

The plotting would be connected to issue #25, I guess. Should be fine for now, however.

[2018-10-30 12:30] p-lauer commented on #23
In GitLab by @hehnen1 on Dec 17, 2017, 19:32

added ~275 label

[2018-10-30 12:31] p-lauer commented on #23
In GitLab by @vinayak1 on Jan 10, 2018, 16:05

mentioned in commit daac0bbfc93b2699844a326fe427914fde018d0e

[2018-10-30 12:31] p-lauer commented on #23
In GitLab by @hehnen1 on Jan 10, 2018, 16:29

It just came to my mind, we might also want to look into logging the version of the algorithm implementation, since we are using three things. For example SPOTPY providing the algorithm, FDS for the simulation and propti to enable the communication between them.

[2018-10-30 12:31] p-lauer commented on #23
In GitLab by @vinayak1 on Jan 31, 2018, 13:19

mentioned in merge request !3

[2018-10-30 12:31] p-lauer commented on #23
In GitLab by @vinayak1 on Jan 31, 2018, 13:21

closed via commit daac0bbfc93b2699844a326fe427914fde018d0e

[2018-10-30 12:31] p-lauer commented on #23
In GitLab by @vinayak1 on Jan 31, 2018, 13:21

closed via merge request !3

[2018-10-30 12:36] #23 closed

[2018-10-30 12:36] p-lauer opened #24 "Post-Processing: Automatic Monitoring of the IMP"
In GitLab by @hehnen1 on Nov 24, 2017, 16:26

Since the inverse modelling process (IMP) may take quite some time, in the order of weeks, it is interesting to have an automatic procedure to create snapshot of the progress. It could be relatively simple, like creating a plot that shows a comparison of the, up to then, best parameter set with the target data. This plot would needed to be updated afte

[2018-10-30 12:36] p-lauer commented on #24
In GitLab by @hehnen1 on Nov 24, 2017, 16:26

changed the description

[2018-10-30 12:36] p-lauer commented on #24
In GitLab by @hehnen1 on Dec 5, 2017, 10:56

Might be interesting to create a new `class` in `DataStructures` so that one can specify how the monitoring is supposed to be performed.

Would it make sense, to spawn a sub-process which handles the monitoring? Right now, I envision some kind of count down timer. The user could set a time (e.g. 8 h), after time is up a plot will be created of the devel

[2018-10-30 12:36] p-lauer commented on #24
In GitLab by @vinayak1 on Dec 17, 2017, 19:15

added ~275 label

[2018-10-30 12:36] p-lauer commented on #24
In GitLab by @vinayak1 on Dec 17, 2017, 19:17

Idea: It could be implemented with PROPTI or SPOTPY. It is a better idea that PROPTI implements this, then in a future use case, this could be used with other modules as well if PROPTI is used.

.. TO BE DISCUSSED ..

[2018-10-30 12:36] p-lauer opened #25 "Logging repetition"
In GitLab by @hehnen1 on Nov 29, 2017, 09:14

In serial mode (`mpi=False` in `OptimiserProperties`) propti shows to the screen the repetition it is in, as well as the "best like". However, this seems not to be the case when running in parallel mode.

Furthermore, this information is also not logged in the `propti.log` file.

I think logging this information would be useful and would like to ask if

[2018-10-30 12:36] p-lauer commented on #25
In GitLab by @vinayak1 on Dec 17, 2017, 19:18

assigned to @vinayak1

[2018-10-30 12:36] p-lauer commented on #25
In GitLab by @vinayak1 on Dec 17, 2017, 19:20

Example: Multi-processing_TGA_02

[2018-10-30 12:36] p-lauer commented on #25
In GitLab by @vinayak1 on Dec 17, 2017, 19:20

added ~275 label

[2018-10-30 12:36] p-lauer commented on #25
In GitLab by @vinayak1 on Jan 8, 2018, 08:33

removed assignee

[2018-10-30 12:36] p-lauer opened #26 "Framework to create plots (for LaTex use)"
In GitLab by @hehnen1 on Nov 29, 2017, 10:39

Create a framework that can use the `pickle` files to gather information for plots easily. It should contain a possibility to access the data in a general way, that allows people to create plots to their liking.

Furthermore, pre-sets could/should be provided for some basic plots. Covering basic things, like plots that compare the results of the best p

[2018-10-30 12:36] p-lauer commented on #26
In GitLab by @hehnen1 on Dec 17, 2017, 19:29

added ~275 label

[2018-10-30 12:36] p-lauer opened #27 "IMP Run Successful: Run Best Parameters"
In GitLab by @hehnen1 on Nov 29, 2017, 10:49

Automatically create a simulation input file(s) with the best parameter set implemented. Execute the simulation of those files and keep the results in a separate directory for later assessment.

[2018-10-30 12:36] p-lauer commented on #27
In GitLab by @hehnen1 on Dec 17, 2017, 19:29

added ~275 label

[2018-10-30 12:36] p-lauer opened #28 "IMP Run Successful: Plot Best Results"
In GitLab by @hehnen1 on Nov 29, 2017, 10:53

After the IMP has been finished create automatically comparison plot(s) with the target (experimental) data and the simulation results.

Connected to the plotting framework, issue #25.

[2018-10-30 12:36] p-lauer commented on #28
In GitLab by @vinayak1 on Dec 17, 2017, 19:04

added ~275 label

[2018-10-30 12:36] p-lauer opened #29 "IMP Run Successful: Automatic Report Generation"
In GitLab by @hehnen1 on Nov 29, 2017, 11:17

Create a report automatically, that summarises the IMP, based on LaTeX. Could also be used to create intermediate reports during the run of the IMP.

Connected to issues #25, #27, #23.

[2018-10-30 12:36] p-lauer commented on #29
In GitLab by @hehnen1 on Dec 17, 2017, 19:28

added ~275 label

[2018-10-30 12:36] p-lauer opened #30 "IMP Run Successful: Create Material Data Base"
In GitLab by @hehnen1 on Nov 29, 2017, 11:20

Creation of some kind of a material data base in which the best parameter set can be stored automatically.

[2018-10-30 12:36] p-lauer commented on #30
In GitLab by @hehnen1 on Nov 29, 2017, 11:24

This comes from the effort to transfer the open topics from coggle. It is rather meant to raise the point.

When the IMP is running on an external cluster, a material data base might most likely not be stored there. Thus, if such kind of feature is desireable in might be useful to think of a different kind of implementation.

Which may raise the questi

[2018-10-30 12:36] p-lauer commented on #30
In GitLab by @hehnen1 on Dec 17, 2017, 19:28

added ~275 label

[2018-10-30 12:36] p-lauer opened #31 "IMP Run Successful: Range of Best Parameter Sets"
In GitLab by @hehnen1 on Nov 29, 2017, 11:37

Use a range around the best fitness value, to extract a group of parameter sets the fitness values of which are located within sayed range. Idea is to assess the variation of the simulation results for the parameter sets that are close to the "best" set.

Connected to issue #27

[2018-10-30 12:36] p-lauer commented on #31
In GitLab by @hehnen1 on Nov 29, 2017, 11:42

This raises furthermore the question, how to evaluate the fitness in general. One could imagine two sets of simulation results yield a very similar fitness value. However, when plotted in comparison with experimental data one might "visually" be closer then the other. This would depend on the evaluation method chosen, of course.

Should this be a new i

[2018-10-30 12:36] p-lauer commented on #31
In GitLab by @hehnen1 on Dec 17, 2017, 19:28

added ~276 label

[2018-10-30 12:36] p-lauer opened #32 "Imp - possible logo for propti?"
In GitLab by @lauer1 on Dec 5, 2017, 14:43

See https://en.wikipedia.org/wiki/Imp

Would that be an appropriate logo animal for propti?

[2018-10-30 12:36] p-lauer commented on #32
In GitLab by @hehnen1 on Dec 6, 2017, 09:19

I like that!! Specifically because in my imagination, the different parameter vectors are some kind of critters living their lifes, in some arbitrary kind of environment, and try to survive...

Even more I would like to use those:

[Imp1](https://abload.de/img/doom_201605190336009bbru.png)

[Imp2](https://assets.wired.com/photos/w_1720/wp-content/upload

[2018-10-30 12:36] p-lauer commented on #32
In GitLab by @vinayak1 on Dec 15, 2017, 20:51

I had an idea for this too. How about **P**ropt **I**  ? Since PI is a transcendental number (interesting video: https://www.youtube.com/watch?v=seUU2bZtfgM) I think it's cool to have the irony-> since the solution to an optimisation problem can be found only to a specific amount of significant digits. Same applies also to PI since it is not the root

[2018-10-30 12:36] p-lauer commented on #32
In GitLab by @lauer1 on Dec 16, 2017, 12:07

Thats also a nice idea, but if there is no animal (or mythological being) involved, it won't get my vote. ;-)

I kind of like these drawings. The first one even has fire in it.

https://www.jantoo.com/cartoon/946036746
https://www.jantoo.com/cartoon/946036742
https://www.jantoo.com/cartoon/946034785
https://www.jantoo.com/cartoon/946021619

[2018-10-30 12:36] p-lauer commented on #32
In GitLab by @vinayak1 on Dec 17, 2017, 14:35

I like the idea of having cartoon imps!

[2018-10-30 12:36] p-lauer commented on #32
In GitLab by @arnold1 on Dec 17, 2017, 18:50

added ~275 label

[2018-10-30 12:36] p-lauer opened #33 "Dump Control"
In GitLab by @hehnen1 on Dec 11, 2017, 16:04

It might be interesting to be able to control the frequency by which spotpy writes the its data base file `propti_db.csv`, by default in propti. This options may be already available in spotpy, if I understood @lauer1 correctly. If so, we could connect it via the spotpy wrapper. I propose that the information on the dump frequency could be provided by

[2018-10-30 12:36] p-lauer commented on #33
In GitLab by @hehnen1 on Dec 11, 2017, 16:04

changed the description

[2018-10-30 12:36] p-lauer commented on #33
In GitLab by @vinayak1 on Dec 15, 2017, 11:03

Yes this can be done using backup_every_rep in SPOTPY. However a default of 1 is questionable. Maybe something like 100. In that case, SPOTPY defaults to 100 repetitions. We could have more control by putting it in optimiser properties though.

[2018-10-30 12:36] p-lauer commented on #33
In GitLab by @hehnen1 on Dec 15, 2017, 11:17

I like the idea to have it in `OptimiserProperties`. We could set the default to 100 and people have the chance to adjust it easily to their liking.

[2018-10-30 12:36] p-lauer commented on #33
In GitLab by @vinayak1 on Dec 15, 2017, 11:25

Sounds good. I seem to require it right now for some testing as well so I think implementing it is a good idea as well. :)

[2018-10-30 12:36] p-lauer commented on #33
In GitLab by @vinayak1 on Dec 15, 2017, 11:25

assigned to @vinayak1

[2018-10-30 12:36] #33 closed

[2018-10-30 12:38] p-lauer opened #34 "Batch Processing of Simulations"
In GitLab by @hehnen1 on Dec 12, 2017, 11:58

We have implemented functionality to parse input file templates for simulation software, like FDS, and automatically launch simulations. This might be helpful when one wants to run multiple simulations while the structure of them is known beforehand. For this it would be interesting to use some kind of batch mode.

[2018-10-30 12:38] p-lauer commented on #34
In GitLab by @arnold1 on Dec 17, 2017, 18:34

fdsgeogen?

[2018-10-30 12:38] p-lauer commented on #34
In GitLab by @arnold1 on Dec 17, 2017, 18:35

added ~276 label

[2018-10-30 12:38] p-lauer opened #35 "New Group of Parameters or Different Access"
In GitLab by @hehnen1 on Dec 14, 2017, 10:52

It might be useful to have a third group of parameters, in addition to the two that are already implemented (optimisation and "environment" parameters).
Something like an optimisation parameter that gives its value back, before being written into the simulation input file. Thus, one could perform some computation with it.

Consider the following exampl

[2018-10-30 12:38] p-lauer commented on #35
In GitLab by @arnold1 on Dec 17, 2017, 18:20

use fdsgeogeon as a layer between propti and FDS

[2018-10-30 12:38] p-lauer commented on #35
In GitLab by @arnold1 on Dec 17, 2017, 18:30

added ~276 label

[2018-10-30 12:38] p-lauer opened #36 "Decouple Data Collection from Spotpy"
In GitLab by @hehnen1 on Dec 15, 2017, 08:52

It might be helpful to decouple the data collection into the `propti_db.csv` data base file from Spotpy. This is specifically necessary when algorithms are used that are not part of Spotpy.

Furthermore, the solution for `propti` should provide more flexibility when it comes to chosing what data to keep, and how. There should be some Spotpy-like scheme

[2018-10-30 12:38] p-lauer commented on #36
In GitLab by @arnold1 on Dec 17, 2017, 18:17

added ~275 label

[2018-10-30 12:38] p-lauer opened #37 "License"
In GitLab by @hehnen1 on Dec 15, 2017, 09:27

We should definitly think about what license to use for `propti`, soon.

[2018-10-30 12:38] p-lauer commented on #37
In GitLab by @hehnen1 on Dec 15, 2017, 09:41

Some information to start with:

https://opensource.org/faq

http://wiki.civiccommons.org/Choosing_a_License/

[2018-10-30 12:38] p-lauer commented on #37
In GitLab by @hehnen1 on Dec 15, 2017, 09:46

To me it seems, that the main decission to be made is: Do we want to allow parts of `propti` to be used in proprietary products or not.

[2018-10-30 12:38] p-lauer commented on #37
In GitLab by @lauer1 on Dec 15, 2017, 13:48

I would suggest to choose a license that grants the most freedom. Question is, what is more freedom?

Is it more free, when you allow that anyone can do whatever one wants with the code as long as the author is mentioned (would be MIT)? Or is it when you ensure that any distributed derivative or modification of this code is also released under the same,

[2018-10-30 12:38] p-lauer commented on #37
In GitLab by @arnold1 on Dec 17, 2017, 17:59

added ~276 label

[2018-10-30 12:38] p-lauer commented on #37
In GitLab by @arnold1 on Dec 17, 2017, 18:12

Pro MIT

[2018-10-30 12:38] p-lauer commented on #37
In GitLab by @lauer1 on Dec 18, 2017, 14:48

Which quorum do we need to decide? 1/2, 2/3 or 1?

[2018-10-30 12:38] p-lauer commented on #37
In GitLab by @lauer1 on Dec 21, 2017, 17:27

License file added

[2018-10-30 12:38] p-lauer commented on #37
In GitLab by @lauer1 on Dec 21, 2017, 17:27

closed

[2018-10-30 12:38] #37 closed

[2018-10-30 12:38] p-lauer opened #38 "Explore Possible Connection to FDSgeogen"
In GitLab by @hehnen1 on Dec 18, 2017, 12:25

We should explore if, and how, we could connect propti to [FDSgeogen](https://github.com/FireDynamics/fdsgeogen).

This could help with some of the open issues, like #34, #33 or #23.

[2018-10-30 12:38] p-lauer commented on #38
In GitLab by @hehnen1 on Dec 18, 2017, 12:26

added ~276 label

[2018-10-30 12:38] p-lauer opened #39 "Spotpy Data Base csv Filled with 'inf'"
In GitLab by @hehnen1 on Dec 18, 2017, 13:57

This issue is created here, only that others can easily keep track of it.

For large numbers the `propti_db.csv` gets filled with `inf` instead of the actual value. This seems to be related to the `database.py` in spotpy. I've created an issue in the spotpy repository concerning this:

https://github.com/thouska/spotpy/issues/77

[2018-10-30 12:38] p-lauer commented on #39
In GitLab by @hehnen1 on Dec 18, 2017, 16:34

Well, thouska is really fast, there is now a parameter which provides easy user access to the data base precision in SPOTPY.

I've created a new branch to implement this functionality to propti. For now `np.float64` is the propti-default, see: 53c4c3ed7b7c590d1d631f7c3e9c53dec3b6eeb9, line https://gitlab.version.fz-juelich.de/inverseproblemsinfiremodel

[2018-10-30 12:38] p-lauer commented on #39
In GitLab by @hehnen1 on Dec 18, 2017, 17:34

Parameter to `OptimiserProperties` now added, needs to be tested.

[2018-10-30 12:38] p-lauer commented on #39
In GitLab by @hehnen1 on Dec 19, 2017, 10:45

It works now - CLOSED

[2018-10-30 12:38] p-lauer commented on #39
In GitLab by @hehnen1 on Dec 19, 2017, 10:45

closed

[2018-10-30 12:38] p-lauer commented on #39
In GitLab by @hehnen1 on Dec 19, 2017, 10:47

mentioned in merge request !2

[2018-10-30 12:38] #39 closed

[2018-10-30 12:38] p-lauer opened #40 "Explore possible use of other executables"
In GitLab by @vinayak1 on Dec 21, 2017, 11:55

I think the OpenFOAM community could also benefit from the use of PROPTI.
The go-to Optimization software as of now is Dakota. It provides a large set of algorithms for optimization. However, it has a steep learning curve.
1.   Most OpenFOAM users know how to use Python and hence coming into propti and spotpy will be easier.
2.   Documentation for spo

[2018-10-30 12:38] p-lauer commented on #40
In GitLab by @vinayak1 on Dec 21, 2017, 11:56

changed the description

[2018-10-30 12:38] p-lauer commented on #40
In GitLab by @hehnen1 on Dec 21, 2017, 20:55

I'm in on this, dispite not having used OpenFoam, yet! At some point I wanted to look also into usage of CFAST, as well.

It should be relatively easy to implement, since we basically let propti transmit commands to the terminal which call the simulation software. Shouldn't it in fact work right out of the box? The information of which simulation softw

[2018-10-30 12:38] p-lauer opened #41 "Maintain Compatibility to Older pickle Versions"
In GitLab by @hehnen1 on Jan 1, 2018, 16:46

Since `db_precision` was introduced to `OptimiserProperties` there are now issues when one wants to print the content of pickle files which have been created by older versions of propti. Reason is that it expects `db_precision` to be present, which it isn't. Thus, it raises an error and stops.

We might want to think about a possible solution to catch t

[2018-10-30 12:38] p-lauer commented on #41
In GitLab by @vinayak1 on Jan 8, 2018, 08:59

@hehnen1 The error can be caught in this case easily by using a `NameError` exception. However, the problem would again arise in situations where we introduce new variables into the system at other points which are operated by the Pickle method. This cannot be predicted at the moment. So while the issue is general, the solution may not be. :/

I would

[2018-10-30 12:38] p-lauer commented on #41
In GitLab by @hehnen1 on Jan 8, 2018, 11:00

Yes, in general a pickle file can be easily created.
However, the thing is that when one has the process started, it might take quite a while to finish (order of weeks). If one wants to add functionality to propti in the mean time, one would run into this issue. This is where I'm at, right now. Also, one may not want to alter the pickle file after/durin

[2018-10-30 12:38] p-lauer commented on #41
In GitLab by @vinayak1 on Jan 8, 2018, 13:46

However, the thing is that when one has the process started, it might take quite a while to finish (order of weeks). If one wants to add functionality to propti in the mean time, one would run into this issue. This is where I'm at, right now.

I'm sorry but I still quite don't understand. The `pickle.init` file is only created and read during the execu

[2018-10-30 12:38] p-lauer commented on #41
In GitLab by @hehnen1 on Jan 8, 2018, 16:42

@vinayak1
We use the pickle file also to store information which has a longer lifetime than just being used to start the process. If I remember correctly, the best parameter set is stored, for instance (I'm pretty sure we had discussed it, maybe before you joined). Also, we recently discussed to store information of the propti and FDS versions used to a

[2018-10-30 12:38] p-lauer commented on #41
In GitLab by @vinayak1 on Jan 9, 2018, 16:59

@hehnen1 I'd like to know a little more about the original issue. At which point of the workflow are you trying to print out the old pickle file. I found the solution the the compatibility problem however I just want to make sure I am considering all the cases where this issue might occur.

EDIT: By original issue I mean the original problem that occur

[2018-10-30 12:38] p-lauer commented on #41
In GitLab by @vinayak1 on Jan 10, 2018, 16:02

So the situation is like this, we cannot do this if versioning is not implemented first. Once versioning is present (#22), we can perform the correct checks. This means that DatabasePrecision branch should be merged after a versioning branch (only so that you can see how it works, read on)

The flow of work is then like this:
1. User creates a pickle.

[2018-10-30 12:38] p-lauer commented on #41
In GitLab by @vinayak1 on Jan 10, 2018, 16:05

mentioned in commit c091173034e04ef026e3dae319a5e3fc40824546

[2018-10-30 12:43] #41 closed

[2018-10-30 12:43] p-lauer opened #42 "Weird logging issue related to basicConfig()"
In GitLab by @vinayak1 on Jan 8, 2018, 16:05

While working on #10 I ran into a weird issue. No logging files were being created upon execution of the `propti_prepare.py` script. Turns out that the root `basicConfig(level=***)` set by `/propti/__init__.py` is reverting to default.

Upon further reading of the documentation, I found out that `logging.basicConfig()` does not work if an API on the ro

[2018-10-30 12:43] p-lauer commented on #42
In GitLab by @vinayak1 on Jan 8, 2018, 16:05

changed the description

[2018-10-30 12:43] p-lauer commented on #42
In GitLab by @vinayak1 on Jan 10, 2018, 10:38

closed via commit 21e3338c05c9d18c14a42d18f555ba333e705d95

[2018-10-30 12:43] p-lauer commented on #42
In GitLab by @vinayak1 on Mar 5, 2018, 18:42

mentioned in commit 21e3338c05c9d18c14a42d18f555ba333e705d95

[2018-10-30 12:43] #42 closed

[2018-10-30 12:43] p-lauer opened #43 "Simplified application of Propty"
In GitLab by @rios1 on Jan 15, 2018, 11:33

As commented with @hehnen1. It will be nice to have an example of how to use Propti "only" to run multiple scenarios without the optimizating feature. (parameteres combinations + batch processing).
Not prioritary, to be done when possible.

[2018-10-30 12:43] p-lauer opened #44 "Time stamps in log file"
In GitLab by @hehnen1 on Feb 22, 2018, 11:07

When propti writes information into the log file `log.spotpy_mpi` there should also be time stamps for each entry. Would enhance checking for errors.

[2018-10-30 12:43] p-lauer opened #45 "Variable backup_every_rep not available to user"
In GitLab by @vinayak1 on Feb 23, 2018, 17:42

It has come to my notice that backup_every_rep is not available for user input during the set up of the backup properties. This implies that only the default value of 100 will be taken in every case. If this is relevant problem, we may want to consider adding this functionality to `spotpy_wrapper.py`.

[2018-10-30 12:43] p-lauer commented on #45
In GitLab by @vinayak1 on Feb 23, 2018, 17:43

added ~276 label

[2018-10-30 12:43] p-lauer commented on #45
In GitLab by @hehnen1 on May 3, 2018, 22:30

Hasn't this been added recently?

I think this issue could be closed since this seems to be the solution:

https://gitlab.version.fz-juelich.de/inverseproblemsinfiremodeling/propti/blob/master/propti/spotpy_wrapper.py#L177

[2018-10-30 12:43] p-lauer commented on #45
In GitLab by @vinayak1 on May 9, 2018, 23:48

I was looking for where this issue was. It seems that somehow I related this to #32 and automatically closed the other one while fixing this issue :D

Luckily it seems that #32 also got fixed. So I'll close this one too !

[2018-10-30 12:43] p-lauer commented on #45
In GitLab by @vinayak1 on May 9, 2018, 23:48

closed

[2018-10-30 12:43] #45 closed

[2018-10-30 12:43] p-lauer opened #46 "Account for changed working directory when reading commit hashes for propti.pickle.init"
In GitLab by @hehnen1 on Mar 3, 2018, 19:56

Right now, when `propti_prepare.py` wants to get the commit hash for storing in the `propti.pickle.init` it is looking for this information relative to the working directory. However, if the working directory is not on the level of the examples, it fails to find this information and crashes.

Could this also happen when somebody uses propti without clon

[2018-10-30 12:43] p-lauer commented on #46
In GitLab by @vinayak1 on Mar 9, 2018, 17:26

You're right. `.git` dir doesn't exist when one downloads propti without using `git clone` Maybe we want to have a distinction between a release version (no git clone used) and a commit version (git clone used)?

[2018-10-30 12:43] p-lauer commented on #46
In GitLab by @hehnen1 on Mar 14, 2018, 15:26

Well, I don't know what could be a good approach here.

Furthermore, it seems we have issues when Propti is located on another drive as the working directory. If this is the case, my work-around also fails find the git directory and it crashes. This is very unfortunate, specifically when working in an HPC environment.

[2018-10-30 12:43] p-lauer commented on #46
In GitLab by @hehnen1 on Mar 14, 2018, 15:28

~~Hm, wait a second, seems that my work-around got lost when I merged `master` and `ProcessMonitoring` ...~~

Ignore what I wrote here earlier, was looking at the wrong place...
It is still there but doesn't work as expected.

[2018-10-30 12:43] p-lauer commented on #46
In GitLab by @vinayak1 on Mar 15, 2018, 04:16

I'll look into this a little bit too. You're right. It's unfortunate if this feature won't work more robustly.

[2018-10-30 12:43] p-lauer commented on #46
In GitLab by @vinayak1 on May 2, 2018, 16:37

I have been thinking about this versioning idea for a while now. My current idea is to implement it using time-stamps.

**Problem**: Downloading propti using the download button does not download the .git folder.

**Possible solution**: The class Version 'pings' the uploaded version of propti and looks for the time stamp of the commit, thereby finding

[2018-10-30 12:43] p-lauer commented on #46
In GitLab by @hehnen1 on May 3, 2018, 13:10

We had some discussion about this and also I've implemented some workarounds, but forgot to put information on them here.

@arnold1 proposed we could use hooks, which would allow to create files when a commit is made. These files could just be text files containing the version (commit identifier).

[2018-10-30 12:43] p-lauer commented on #46
In GitLab by @hehnen1 on May 3, 2018, 13:11

By the way, the workarounds are located in the ProcessMonitoring branch, for now.

[2018-10-30 12:43] p-lauer commented on #46
In GitLab by @vinayak1 on May 9, 2018, 23:52

mentioned in commit 85e74cb39ba4ace7ac3bc2518ecc6beb55a3f1b1

[2018-10-30 12:43] p-lauer opened #47 "Best parameter run"
In GitLab by @lauer1 on Mar 6, 2018, 12:19

At the moment, I'm encountering the problem that the analyse script doesn't replace the values properly. Attached is the output with our TGA example after a successful  optimisation run and after best fitting values were found.

But all in all, I just get files, where either the file just contains the placeholders (with --create_best_input) or contains "

[2018-10-30 12:43] p-lauer opened #48 "Adopt wrapper to be able to use other algorithms"
In GitLab by @lauer1 on Mar 8, 2018, 11:45

We need to adopt the wrapper so we can use other algorithms from the spotpy package. At the moment, ngs is set, when the spotpy sampler is called (https://gitlab.version.fz-juelich.de/inverseproblemsinfiremodeling/propti/blob/master/propti/spotpy_wrapper.py#L163), which gives an error if you use an algorithm that doesn't expect that value.

How should we

[2018-10-30 12:43] p-lauer opened #49 "Expensiveness of sensitivity analysis"
In GitLab by @hehnen1 on Mar 9, 2018, 10:24

Given the default parameters we have now for FAST, this method seems very expensive to me. For one of my setups that consists of 34 parameters, FAST would end up performing about 75 k simulations which would be about 30 days of computing time.

It may be interesting to look into different possibilities here.

I propose we could divide the sensitivity an

[2018-10-30 12:43] p-lauer commented on #49
In GitLab by @hehnen1 on Mar 9, 2018, 10:24

changed the description

[2018-10-30 12:43] p-lauer commented on #49
In GitLab by @hehnen1 on May 14, 2018, 15:50

Side note: These 30 days are now significantly less, because we found an error in my job launch script. Still, it is a lot of simulations.

[2018-10-30 12:43] p-lauer opened #50 "Handeling version calls that run nowhere"
In GitLab by @hehnen1 on Apr 27, 2018, 11:52

When PROPTI tries to determine the FDS version, but can't find FDS it hangs indefinitely.
Possibly with other programs as well.

There should be a message that PROPTI can't find the desired program and stop.

[2018-10-30 12:43] p-lauer commented on #50
In GitLab by @vinayak1 on May 9, 2018, 23:24

Fixed on ProcessMonitoring branch. Will automatically be closed on merge.

[2018-10-30 12:43] p-lauer commented on #50
In GitLab by @vinayak1 on May 9, 2018, 23:40

mentioned in commit d98a47e993b9aec460bf4c939ed4df1de3c0ea29

[2018-10-30 12:43] p-lauer commented on #50
In GitLab by @vinayak1 on Jun 5, 2018, 09:49

Okay turns out the error continues. :(

exec_versionCall is stuck because it is waiting for FDS to press Enter.

@hehnen1 Error occurs at line 729. I am commenting it out at the moment. I will look at it when I am home in the evening.

[2018-10-30 12:43] p-lauer commented on #50
In GitLab by @hehnen1 on Jun 5, 2018, 17:07

closed via commit d98a47e993b9aec460bf4c939ed4df1de3c0ea29

[2018-10-30 12:43] #50 closed

[2018-10-30 12:43] p-lauer opened #51 "Restart functionality"
In GitLab by @hehnen1 on May 3, 2018, 22:28

Right now I'm facing difficulties with the way of how the restart works for SPOTPY. It seems that the highest frequency to write breakpoints, in terms of generations, is one generation for the SCE-UA. For my setup however this is not fast enough, because the algorithm is not able to finish one generation within the time limit of one token.

I've added t

[2018-10-30 12:43] p-lauer commented on #51
In GitLab by @hehnen1 on May 14, 2018, 15:47

It turned out, that I had another error in the script which sends the jobs to JURECA. Thus, the simulation time was way longer than necessary. It is fixed now and about five generation can be finished within 24h.

For now, this is sufficient and I will close this issue.
However, if someone would run a setup similar to mine with more parameters it could

[2018-10-30 12:43] p-lauer commented on #51
In GitLab by @hehnen1 on May 14, 2018, 15:47

closed

[2018-10-30 12:43] #51 closed

[2018-10-30 12:43] p-lauer opened #52 "Example tga2 doesn't converge to the same solution on different systems"
In GitLab by @lauer1 on Jun 5, 2018, 15:20

@hehnen1 gets worse solutions on his machine than anyone else using tga2_example.

@arnold1 will try to reproduce @hehnen1 solution on different systems.

[2018-10-30 12:43] p-lauer commented on #52
In GitLab by @vinayak1 on Jun 6, 2018, 22:20

Putting my simulation run here for future reference.
Run on ARCH with Python3, Spotpy-1.3.27

![Screen_Shot_2018-06-06_at_22.08.38](/uploads/ad594234129ef39359e8a0a50c4b26a9/Screen_Shot_2018-06-06_at_22.08.38.png)

[2018-10-30 12:43] p-lauer commented on #52
In GitLab by @lauer1 on Jun 8, 2018, 13:30

Putting my simulation run here for future reference.

Config:
[code]

Result for tga_analysis_02:
[code]

![FitnessDevelopment_boxplot.pdf](/uploads/0d76ddafaa7de4c586499835dadb90bc/FitnessDevelopment_boxplot.pdf)

[2018-10-30 12:48] p-lauer opened #53 "Testing new implementations"
In GitLab by @lauer1 on Jun 5, 2018, 15:29

@lauer1 will test recent implementations and document all encountered errors and bugs.

[2018-10-30 12:48] p-lauer commented on #53
In GitLab by @lauer1 on Jun 5, 2018, 15:41

changed title from **Testing** to **Testing{+ new implementations+}**

[2018-10-30 12:48] p-lauer commented on #53
In GitLab by @hehnen1 on Jun 6, 2018, 16:03

I have created a new branch in which all the changes on the code and examples are performed, called 'iss54'. It has its own issue #54 (who would have guessed...) to keep track of changes, suggestions and the like. When we are satisfied with the results we can merge it into 'master' afterwards.

@lauer1 Shall I collect specific items there, which I deem

[2018-10-30 12:48] p-lauer commented on #53
In GitLab by @lauer1 on Jun 6, 2018, 16:21

@hehnen1 Yes, please!

[2018-10-30 12:48] p-lauer opened #54 "Nodegraph for PROPTI input file creation"
In GitLab by @hehnen1 on Jun 6, 2018, 14:17

As a potential graphical user interface a nodegraph system could be of interest. It would make PROPTI more accessable, specifically for people with little programming experiance. PROPTI should already be structured to accommodate this kind of interaction.

[2018-10-30 12:48] p-lauer opened #55 "Revision Pass of PROPTI Before Initial Release"
In GitLab by @hehnen1 on Jun 6, 2018, 15:36

Major revision pass on PROPTI to get a release candidate.

Documentation is to be reworked, bugs fixed as well as examples improved.

Changes are performed on the branch 'iss54'.

[2018-10-30 12:48] p-lauer commented on #55
In GitLab by @hehnen1 on Jun 6, 2018, 15:58

changed the description

[2018-10-30 12:48] p-lauer commented on #55
In GitLab by @hehnen1 on Jun 6, 2018, 16:10

I will adjust the Wiki later on, to provide a page for a technical description of Propties functionallity. It is oriented on the Python documentation. A more general description will be provided as a separate page. The intent is to provide a easy entrance to people less inclined to programming.

[2018-10-30 12:48] p-lauer commented on #55
In GitLab by @hehnen1 on Jun 7, 2018, 15:50

So, `data_structures.py` is now done, for the most part. The `Version` class needs definitively to be cleaned up.

Things to be checked specifically:

- [x] Technical Documentation for data_structures
    - [x] Layout
    - [x] Spelling
    - [x] Consistency in general
- [ ] Functionality check
    - [ ] The print method of `OptimiserProperties`
    - [

[2018-10-30 12:48] p-lauer commented on #55
In GitLab by @hehnen1 on Jun 8, 2018, 10:45

So, `basic_functions.py` is now finished.

Things to be checked specifically:

- [x] Technical Documentation for basic_functions
    - [x] Layout
    - [x] Spelling
    - [x] Consistency in general
- [ ] Functionality check
    - [ ] execution serial
    - [ ] execution multi
    - [ ] read files
    - [ ] write files
    - [ ] change place holder

[2018-10-30 12:48] p-lauer opened #56 "Error in sensitivity analysis"
In GitLab by @lauer1 on Jun 6, 2018, 16:40

Trying FAST with tga_example02 gives me:

[code]

[2018-10-30 12:48] p-lauer commented on #56
In GitLab by @lauer1 on Jun 6, 2018, 16:40

changed the description

[2018-10-30 12:48] p-lauer commented on #56
In GitLab by @lauer1 on Jun 6, 2018, 16:40

changed the description

[2018-10-30 12:48] p-lauer commented on #56
In GitLab by @hehnen1 on Jun 6, 2018, 16:58

Could it be an old version of either PROPTI or the used input file? I opt for old input file, or rather pickle.init.

[2018-10-30 12:48] p-lauer commented on #56
In GitLab by @lauer1 on Jun 6, 2018, 16:59

masterbranch, pulled just 1/2 h before posting.

[2018-10-30 12:48] p-lauer commented on #56
In GitLab by @lauer1 on Jun 6, 2018, 18:49

Was using old version of spotpy. My fault.

[2018-10-30 12:48] p-lauer commented on #56
In GitLab by @lauer1 on Jun 6, 2018, 18:49

closed

[2018-10-30 12:48] #56 closed

[2018-10-30 12:48] p-lauer opened #57 "Automated Tests"
In GitLab by @hehnen1 on Jun 8, 2018, 11:10

It would be nice to have automated test scripts, with which we could run all the example/tests cases to check for errors in new versions automatically.

[2018-10-30 12:48] p-lauer commented on #57
In GitLab by @lauer1 on Jun 8, 2018, 11:31

Great idea, but should we use dedicated test cases that run pretty fast to use the gitlab CI feature or should we use all tests and let it run on our machines?

[2018-10-30 12:48] p-lauer commented on #57
In GitLab by @vinayak1 on Jun 8, 2018, 11:33

CI would be a good idea. But we really need good unit tests otherwise it would be a waste of time to invest in using this feature.

[2018-10-30 12:48] p-lauer commented on #57
In GitLab by @hehnen1 on Jun 8, 2018, 11:34

Hm, not sure

a) I haven't thought about it in detail.
b) I'm not familiar with gitlab's internal testing functionality.

If gitlab would work and reduce our work load, why not? :smile:

[2018-10-30 12:48] p-lauer opened #58 "Move issues from gitlab to github"
In GitLab by @lauer1 on Oct 29, 2018, 18:19

[2018-10-30 13:09] p-lauer commented on #58
issues migrated to github

[2018-10-30 13:11] p-lauer commented on #58
issues migrated to github

[2018-10-30 13:11] #58 closed

[2018-11-05 17:57] TristanHehnen commented on #54
Possibly we could borrow some code from Blender? They have a nice node graph.

[2018-11-06 17:01] TristanHehnen opened #59 "Copy Supplementary Files"
For some simulation software, e.g. OpenFOAM, it is necessary to provide supplementary input files which are not touched by the optimisation process. Right now, we could maybe use the simulation setups as work-around, in that we define the supplementary files as templates that have no markers to be exchanged. When provided with the same path, PROPTI should copy them into the same directory without

[2018-11-15 16:50] p-lauer commented on #48
Basic implementation of fscabc, abc and mc done.

[2018-11-15 23:22] marcfehling opened #60 "Incompatibilities with Python 3.7"
There seems to be incompatibilities with the latest version of Python, i.e. `3.7`

For example, calling
[code]
freezes and results in the following output with a `KeyboardInterrupt`
[code]

[2018-11-22 09:22] TristanHehnen opened #61 "General Version Check of Simulation Software"
For now we have the version call hardcoded for FDS. That lead to us to realise that we needed to change line  (https://github.com/FireDynamics/propti/blob/8b51265118afb786e0b24ec3d8c74cc492fd6d0c/propti/data_structures.py#L731) to enable the execution of newer FDS versions with MPI in the HPC environment, specifically FDS 6.7. We could get arround the rigid approach when calling the `model.executa

[2018-12-18 11:54] lu-kas commented on #60
this is not a problem with python, but with the non-existance of the executable

[2018-12-18 11:54] #60 closed

[2019-01-24 11:43] TristanHehnen opened #69 "Automatic Restart Markers"
For now we handle the writing of restart markers into the `propti_db.csv` via the job-script. This functionality should make it into core PROPTI, such that it is not dependend on the user and we can provide a better, more generalised clean-up function. For now it is very specific to our first use cases, namely the SCE. We ran into issues for CAB and needed to set up an individual solution.

[2019-05-20 07:16] TristanHehnen opened #71 "More Pre-Pocessing Functionality for Relations"
It would be interesting to get more functioanlity to the `relations`, that would allow to read multiple results from the simulation and perfomr some (arbitrary) computation on them. Helpful if quantities can not directly be determined by the simulation software, which are to be used as optimisation target.

[2019-07-09 10:22] p-lauer commented on #59
Bash script used for this purpose.

[2019-07-09 10:22] #59 closed

[2019-07-09 10:25] p-lauer commented on #54
No need for that anymore.

[2019-07-09 10:25] #54 closed

[2019-07-09 10:27] p-lauer commented on #53
Discussed in issue #55

[2019-07-09 10:27] #53 closed

[2019-07-09 10:27] #52 closed

[2019-07-09 10:28] #48 closed

[2019-07-09 10:31] p-lauer commented on #46
solved

[2019-07-09 10:31] #46 closed

[2019-07-09 10:33] #43 closed

[2019-07-09 10:35] p-lauer commented on #36
No need for that anymore.

[2019-07-09 10:35] #36 closed

[2019-07-09 10:38] #34 closed

[2019-07-09 11:38] p-lauer commented on #40
Done in https://doi.org/10.1016/j.firesaf.2019.102835

[2019-07-09 11:38] #40 closed

[2019-07-09 11:51] p-lauer commented on #29
Will be implemented in a best practice example

[2019-07-09 11:51] #29 closed

[2019-07-09 11:52] p-lauer commented on #28
Similar function available. Will also be implemented in a best practice example

[2019-07-09 11:52] #28 closed

[2019-07-09 11:53] p-lauer commented on #27
Currently broken, latest issue #47

[2019-07-09 11:53] #27 closed

[2019-07-09 11:54] p-lauer commented on #25
Was an error in spotpy. solved.

[2019-07-09 11:54] #25 closed

[2019-07-09 11:55] p-lauer commented on #26
Will be implemented in a best practice example.

[2019-07-09 11:55] #26 closed

[2019-07-09 11:56] p-lauer commented on #22
https://github.com/TristanHehnen/UsefulStuff/tree/master/LabEquipment/ConeFTT

[2019-07-09 11:56] #22 closed

[2019-07-09 11:58] p-lauer commented on #20
https://github.com/TristanHehnen/FDSChemReac

[2019-07-09 11:58] #20 closed

[2019-07-09 11:59] p-lauer commented on #17
Done

[2019-07-09 11:59] #17 closed

[2019-07-09 12:02] #11 closed

[2019-07-09 12:06] #4 closed

[2019-10-28 21:19] mop-mop opened #72 "MPI4PY and Python 3.7"
MPI4PY works only until Python 3.6. Exit alternative for MPI4PY?

[2019-10-28 21:21] mop-mop opened #73 "Examples TGA analysis"
Example TGA Analysis is not working. Tristan knows why, because Corinna told him.

[2019-11-03 21:10] mop-mop opened #74 "Relation Function"
Besteht die Möglichkeit neben Listen als Zielfunktion mit Simulationsergebnissen zu vergleichen, diese mit if abfragen zu verbinden. Bsp. Ich möchte gerne gegen eine Liste von Zündzeitpunkten optimieren. Dabei lese ich als Simulationsergebnis einen MLR Device ein. Um nun den Zeitpunkt zu erhalten, lege ich eine if-Abfrage rüber, sobald MLR >0 ist, gebe ich den Zeitpunkt mit raus. Anschließend soll

[2019-11-04 14:31] lu-kas commented on #74
i have a first version drafted. it changes the way how mapping on x_def is done. to test it, could you please send me / point me to a good example?

[2019-11-07 17:20] mop-mop commented on #74
Wäre gut, wenn wir vorher darüber sprechen.

Am Mo., 4. Nov. 2019 um 15:31 Uhr schrieb Lukas <notifications@github.com>:

[2019-12-17 10:03] p-lauer commented on #72
mpi4py works with python 3.7

[2019-12-17 10:03] #72 closed

[2020-01-14 15:12] TristanHehnen opened #75 "Windows and mpi4py - note for a possible fix"
There have been issues with Windows, MPI and mpi4py. A possible solution which can be explored by people is the accepted answer to this [stackoverflow ](https://stackoverflow.com/questions/37369408/how-to-get-mpi4py-to-work-on-windows)question.

[2020-03-06 09:41] lu-kas opened #77 "single generation"
have spotpy compute only one generation

[2020-03-06 10:27] lu-kas opened #78 "Print Relation"
Print relations in log output

[2020-03-06 10:28] p-lauer commented on #74
Done with latest update

[2020-03-06 10:28] #74 closed

[2020-03-06 10:28] p-lauer commented on #73
Working again

[2020-03-06 10:28] #73 closed

[2020-03-06 10:44] lu-kas opened #79 "Fitness method threshold"
Allow to directly state experimental target value. Handle no need for read in experimental data, which is now always read.

[2020-03-06 10:59] lu-kas opened #80 "Rename variable for relation weight factor"
weight -> fitness_weight

[2020-03-06 11:07] p-lauer commented on #80
done with latest commit

[2020-03-06 11:07] #80 closed

[2020-03-12 10:04] TristanHehnen opened #81 "Docker, Win 10, Hyper-V Service vmms is not available"
I encountered the issue that Docker didn't start because of "Hyper-V Service vmms is not available" on my Windows 10 machine.

This video provided a solution that worked for me:
https://www.youtube.com/watch?v=m6DX9B-xtVU

I just leave this here, in case others may having a similar issue.

[2020-03-12 10:04] #81 closed

[2020-03-15 16:54] p-lauer opened #84 "Fix bugs in propti_analyse.py"
# `--best_run`

- only simulates one setup, not all of a set
- issues with relative path of model executable (one level higher than optimization)

# `--plot_best_sim_exp`

- x,y offset and scaling factors from relations need to be included for plotting
-   File "../propti/propti_analyse.py", line 661, in <module>
    pr.plot_best_sim_exp(s, pickle_file)
  File "/p/project/cjjsc27/MaCFP/MaCFP2020_A

[2020-03-18 13:39] p-lauer commented on #84
# `--dump_plots` (done)

Gets stuck at
[code]

[2020-03-18 13:54] p-lauer commented on #84
Change standard output of plots from pdf to png (done)

[2020-03-25 17:00] TristanHehnen commented on #84
for --best_run:

in the directory `best_run` there should be individual directories for each simulation setup. Naming by the simulation setup name. If no name was provided via `input.py` the names could be something like 'SimulationSetup_n'.

[2020-04-08 16:42] TristanHehnen commented on #84
for --run_best:

for now the path to the executable needs to be set as absolute path in the `input.py`. For some of our internal cases we use sometimes relative paths, but this might not be the most general usecase. Maybe it would be useful to make it a restriction for the users.

[2020-07-02 14:08] TristanHehnen opened #86 "Job can be started without selecting fitness method"
It is possible to start an IMP run without specifing a fitness methond in the `relation`. After the `input.py` is processed, the user gets presented with some properties of the IMP run, for example the simulation setups, software versions and optimiser properties, but there is no information given about the chosen fitness methods for the different relations and their importance/weight.

This shoul

[2020-08-18 07:00] p-lauer opened #88 "fix min/max rmse"
https://github.com/FireDynamics/propti/blob/a37b028cad87730257811a6acc46eac6e60585f0/propti/fitness_methods.py#L41

[2020-08-18 09:01] TristanHehnen opened #89 "Run best should be able to find the executable"
Right now the executable for `run_best` of `propti_analyse` looks for a relative path from the directory of the current best parameter set in the analysis directory. An absolute path might be better to avoid errors in finding the executable.

e.g. eariler I've changed the location of where the current best parameter set is written but didn't change the (hard coded) relative path accordingly, thus

[2020-09-04 07:03] TristanHehnen opened #90 "Update summary after preparation step"
After running `propti_prepare`, a summary over the properties of the IMP run is presented. This should be updated to reflect the functionality of the current version of PROPTI.

[2020-09-07 12:56] TristanHehnen opened #91 "Check `--clean_db` functionality, seems to count incorrectly"
The `--clean_db` function of the `propti_analysis` script seems to count the individuals from the SCE generations incorrectly. From 4 successfully completed runs only three appear in the scatter plots after the `--clean_db` call.
Furthermore, the fitness boxplots show only two full generations, which seems to indicate that this functions counts incorrectly as well. Possibly the same countiong func

[2020-09-08 12:41] TristanHehnen commented on #91
The counting of the generations should be working properly now:
https://github.com/FireDynamics/propti/blob/220902b9b0e923d95eb474a611466b5697db06f8/propti_analyse.py#L1155
https://github.com/FireDynamics/propti/blob/220902b9b0e923d95eb474a611466b5697db06f8/propti/propti_monitor.py#L612

[2020-12-09 11:26] TristanHehnen commented on #91
Seems to work as expected.

[2020-12-09 11:26] #91 closed

[2020-12-09 11:31] TristanHehnen commented on #77
This is now implemented with `max_loop_inc` in the `OptimiserProperties`.
However, it seems that the burn-in for the SPOTPY SCE is excluded from the counting, thus the first time an optimisation run is started an extra generation is performed - the burn-in.

[2020-12-09 11:36] lu-kas commented on #77
If `max_loop_inc` is set to one, then only the burn-in should be executed, if needed. but if it is set to a higher value *and* the burn-in needs to be run, this will in fact lead to an 'extra generation'. Do you have a short running test example for that?

[2020-12-22 13:03] p-lauer opened #93 "cd'ing to a directory with blank raises error"
[code]

[2021-01-15 03:56] Undi123 opened #94 "utf-8 can't decode"
Hey, dear developer, an error occurred when I tried to do the preparation.

I also tried to do the inverse modeling with FDS, and I used Python for quite a while.  Can I do something for this framework?

To be honest, I wrote Python script for quite a while, but it was really hard for me to understand your script. Maybe I should do something more.
[code]
This line 819 should be changed to:
`line =

[2021-01-15 10:11] TristanHehnen commented on #94
Dear @Undi123 ,

thank you for your interest in PROPTI and providing feedback!

Before implementing to ignore some information I would like to spend some more time to figure out what the actual origin of the error might be. From the error message alone I would assume that the `input.py` is not "clean".

Could you please let me know the following:
1. What operating system are you using?
2. Did you

[2021-01-16 10:59] Undi123 commented on #94
Yeah, dear @TristanHehnen，

I reinstalled the FDS 6.7.0, PROPTI, and Python 3.6.7 in Win 10 virtual machine. The error is gone.

However, if the FDS is updated to 6.7.1, it won't work. This is because a new command line - CMDfds is created. And if we want to use this script, we have to write the path of FDS into command line. So this script is only used for FDS 6.7.0. and maybe we need to modify t

[2021-02-22 15:19] lu-kas opened #98 "Restructure scaling in fitness computation"
The current implementation is not robust. sclae_fitness can be a bool or a string, yet without checking for non-valid values. minmax scaling is using the first and last value, instead of min and max value?

Additionally, a common scaling approach should be investigated.

[2021-02-22 15:45] lu-kas opened #99 "y2_e arguments in fitness functions"
Refactor y2_e arguments. E.g. optional arguments.

[2021-02-24 20:22] lu-kas opened #100 "Add option to copy aux files to the work/run folder"

[2021-03-12 15:01] TristanHehnen opened #101 "Check if sampling limits make sense"
Implement a check to determine if the upper parameter sampling limit is actually larger than the lower one - for catching typos and improve debugging.

[2021-03-29 11:10] TristanHehnen opened #102 "FitnessMethodRMSE Does Not Take Model Factor Into Account"
The fitness method [FitnessMethodRMSE](https://github.com/FireDynamics/propti/blob/8450532fd2e37536a071ef0b6c59ea13ee86539a/propti/fitness_methods.py#L15) does not take the `relation.model.factor` into account, when calculating the RMSE.

[2021-06-25 16:51] TristanHehnen commented on #75
Otherwise, we have a docker container that comes with a linux distribution.

[2021-08-26 22:30] TristanHehnen commented on #78
Might also be useful to have them in the overview after the input file is processed and the summary is presented right at the beginning, i.e. `propti_prepare.py input.py`.

[2021-11-29 13:11] TristanHehnen opened #104 "Rework Examples"

[2021-12-02 20:17] TristanHehnen opened #105 "Think about the "ops" handling"
https://github.com/FireDynamics/propti/blob/c938244800ecb7b3381e517792e3a5d778bd6184/propti_prepare.py#L44

Is it a good idea to have the `ops` decoupled from everything? Wouldn't it be better to have it connected to something, like maybe the simulation setup or the optimiser properties or something? Otherwise it is lying around somewhat on its own and is likely confusing to others.

[2021-12-06 12:39] lu-kas opened #106 "Check MPI execution status"
If MPI mode is off, check if PROPTI was started within a MPI environment. If this is the case, drop an error and exit.

[2021-12-07 16:28] TristanHehnen commented on #105
Provide a convenient way to define basic optimisation setups. For example we could provide a further argument to the parameter class that determines if it is optimised or not. Then PROPTI can decide internally to sort the different parameters and users do not need to define different lists for parameter handling.

[2022-02-12 13:31] TristanHehnen opened #107 "Write Parameters with Dependencies also in Evaluated Form to the Data Base File"
For the parameters with dependencies, only their "helper parameters" are written into the data base file, because these helpers are the ones that are actually part of the optimisation process. That makes it a bit cumbersome to assess the actually desired values, since one needs to evaluate them manually. Having te evaluated parameters written into the data base would be very conveniant option.

[2022-02-14 18:40] lu-kas commented on #107
Ok, I see the point. However, this may be tricky to be accomplished, as spotpy does not see the result of our evaluation. Would it help if we would write our own (additional) data base?

[2022-02-28 15:03] TristanHehnen commented on #107
I guess that could work.

[2022-05-03 19:15] TristanHehnen opened #108 "Avoid Creating New Class Atributes"
https://stackoverflow.com/questions/3603502/prevent-creating-new-attributes-outside-init

[2022-05-03 19:17] TristanHehnen commented on #102
see issue #108

[2022-05-03 20:13] TristanHehnen commented on #108
also, maybe we could unify the attribute/parameter labels to have a common way of using the "_", I believe PEP8 has something about that, but now I'm too lazy to look it up - just a note for future-Tristan...

[2022-05-04 08:24] TristanHehnen commented on #108
possibly the propti input files could be changed to `*.json` files